/**
 * @file history.scss
 * @description Styles pour la section History
 * @author Simon Fanny
 * @date 22/12/2025
 * @project Portfolio - Projet8 - OpenClassrooms
 */

 @use '../../../../styles/variables' as *;  
 @use '../../../../styles/mixins' as *;     
 
 .history {
  padding: 4rem 0;

  @include mobile {
    padding: 0;
  }

  &__container {
    @include container-style;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin-bottom: 4rem;
    text-align: center;
    position: relative;

    .cv-link {
      position: absolute;
      top: 50%;
      right: -50%;
      transform: translateY(-50%);
      font-size: 1.3rem;
      font-weight: 600;
      color: $medium_purple;
      text-decoration: none;
      transition: all 0.4s ease;
  
      &:hover {
        color: $light_purple;
        transform: translateX(8%) translateY(-50%);
      }
    }
  }

    @include mobile {
      margin-bottom: 2rem;
    }
  }


/* Timeline */
.timeline__container {
  position: relative;
  width: 100%;
  max-width: 900px;
  padding: 2rem 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    background-color: $white;
    transform: translateX(-50%);

    @include tablet {
      left: 3%;
    }

    @include mobile {
      left: 0;
    }
  }
}