/**
 * @file history.scss
 * @description Styles pour la section History
 * @author Simon Fanny
 * @date 22/12/2025
 * @project Portfolio - Projet8 - OpenClassrooms
 */

 @use '../../../styles/variables' as *;
 @use '../../../styles/mixins' as *;
 
 .history { 
   &__container {
     @include container-style;
     flex-direction: column;
     align-items: center; 
     justify-content: center; 
   }
 }