/**
 * @file home.scss
 * @description Styles pour la page d'accueil du portfolio
 * @author Simon Fanny
 * @date 22/12/2025
 * @project Portfolio - Projet8 - OpenClassrooms
 */
 
 @use '../../styles/variables' as *;
 @use '../../styles/mixins' as *;



// ===============================================================================
// HOME_ sytles communs pour toutes les sections
// ===============================================================================
