/**
 * @file layout.scss
 * @description Styles pour le layout
 * @author Simon Fanny
 * @date 08/01/2026
 * @project Portfolio - Projet8 - OpenClassrooms
 */ 


@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  
  &__main-container {
    flex: 1;
    width: 100%;
    height: 100%;
  }
}