// layout.scss

@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  
  &__main-container {
    flex: 1;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 4rem;
    height: 100%;
    // @include center-flex;

    @include tablet {
      padding: 0 2rem;
    }    
  }
}