@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.skills {
  &__container {
    @include container-style;
    min-height: calc(50vh - 20rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile {
      padding: 2rem;
      justify-content: space-around;
    }
  }

  &__title {
    @include font-style(3rem);
    color: $white;
    margin-bottom: 4rem;
    text-align: center;

    @include mobile {
      margin-bottom: 2rem;
    }
  }

  &__skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.5rem;
    max-width: 100%;

    @include tablet {
      justify-content: center;
    }
  }
}