/**
* @file veille.scss
 * @description Styles pour la section Veille
 * @author Simon Fanny
 * @date 22/12/2025
 * @project Portfolio - Projet8 - OpenClassrooms
 */

@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.veille { 
  background-color: $background;
  color: $white;

   &__container {
     @include container-style;
     flex-direction: column;
     align-items: center; 
     justify-content: center; 
   }
 }