// header.scss

@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

// Police de signature
.header {
  width: 100%;

  &__container {
    @include center-flex;
    justify-content: space-between;
    // padding: 3rem 4rem;
    margin: 0 auto;

    @include mobile {
      padding: 2rem;
    }
  }

  &__signature {
    @include font-style(4rem);
    color: $white;
    text-decoration: none;
    margin-bottom: 24px;
  
    &, a {
      font-family: $font-signature;
     }
  }

  &__nav {
    display: flex;
    gap: 6rem;

    @include tablet {
      gap: 3rem;
    }

    @include mobile {
      gap: 2rem;
    }

    .a {
      @include font-style(2.4rem);
      text-decoration: none;
      color: $white;
      position: relative;

      @include tablet {
        @include font-style(1.8rem);
      }

      @include mobile {
        @include font-style(1.2rem);
        text-transform: uppercase;
      }
    }

    
  }
}