/**
 * @file about.scss
 * @description Styles pour la section About
 * @author Simon Fanny
 * @date 22/12/2025
 * @project Portfolio - Projet8 - OpenClassrooms
 */

 @use '../../../styles/variables' as *;
 @use '../../../styles/mixins' as *;

.about {
  background-color: $background;
  color: $white;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
  }

  &__title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
    color: $white;
  }

  &__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    align-items: start;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  &__text {
    p {
      font-size: 1.1rem;
      line-height: 1.6;
      margin-bottom: 1.5rem;
      color: $white;
    }
  }

}
