@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;


.skills {
  &__container {
    @include container-style;
    min-height: calc(50vh - 20rem);
    flex-direction: column;
    align-items: center; // Changement de center à flex-start pour aligner à gauche
    justify-content: center; // Changement de center à flex-start pour commencer du haut
    
  }

   &__title {
    @include font-style(3rem);
    color: $white;
    margin-bottom: 4rem;
    text-align: center;
  }
  
  // &__content {
  //   }
  
  &__skills-grid { 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; // Change de center à flex-start pour aligner les boutons à gauche
    gap: 1.5rem;
    max-width: 100%;
  }
  
  .skill-tag {
    background-color: $dark_violet;
    color: $white;
    @include font-style(1.5rem);
    padding: 0.5rem 1.5rem; // Padding horizontal ajusté pour le texte
    border-radius: 15px;
    text-align: center;
    display: inline-block; // Changement important pour l'adaptation au contenu
    transition: all 0.3s ease;
    border: 2px solid $medium_purple;
    white-space: nowrap; // Empêche le texte de passer à la ligne
    flex-shrink: 0; // Empêche la compression de l'élément

      &:hover {
        background-color: transparent;
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(188, 96, 251, 0.4);
      }

  }
}

