/**
 * @file footer.scss
 * @description Styles pour le composant Footer
 * @author Simon Fanny
 * @date 22/12/2025
 * @project Portfolio - Projet8 - OpenClassrooms
 */

@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.footer {
  background: linear-gradient(145deg, rgb(11, 2, 20) 0%, rgb(19, 2, 29) 100%);
  backdrop-filter: blur(10px); 
  padding: 2rem 0 2rem 0;
  margin-top: auto;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    @include tablet {
      text-align: center;
    }

    &__legacy {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }

    p {
      @include font-style(1.1rem);
    }
  }
}

 
